<div id="cover">
  <div class="ruby_taiwan_cover">
    {% include cover/cover-sky.svg %}
    {% include cover/cover-night.svg %}
    {% include cover/cover-platform_l.svg %}
    {% include cover/cover-platform_r.svg %}
    {% include cover/cover-ocean.svg %}
    {% include cover/cover-ground.svg %}
  </div>

  <div class="ruby_taiwan">
    <div class="ruby_taiwan_logo">
      {% include cover/ruby_taiwan_logo.svg %}
    </div>
    <div class="ruby_taiwan_logotype">
      {% include cover/ruby_taiwan_logotype.svg %}
    </div>
    <div class="ruby_taiwan_year">
      <p>Since 2008</p>
    </div>
    <div class="ruby_taiwan_social">
      <a href="{{ site.data.social_media.twitter }}" target="_blank" class="social-links">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="{{ site.data.social_media.github }}" target="_blank" class="social-links">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="{{ site.data.social_media.facebook }}" target="_blank" class="social-links">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a href="{{ site.data.social_media.instagram }}" target="_blank" class="social-links">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="{{ site.data.social_media.youtube }}" target="_blank" class="social-links">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
