<section id="events" data-controller="toggle">
  <h3 class="section-title">{{ site.data.i18n.section.events }}</h3>

  <div class="events-list" data-toggle-target="wrapper">
    {% assign ended_events = site.events | where: "ended", true %}
    {% assign active_events = site.events | where_exp: "event", "event.ended != true" %}

    {% if site.events and site.events.size > 0 %}
      {% if active_events.size == 0 %}
      <span class="event-empty">{{ site.data.i18n.helper.empty_events }}</span>
      {% endif %}

      {% assign sorted_events = site.events | sort: "date" | reverse %}
      {% for event in sorted_events %}
      <div class="event-card{% if event.ended %} ended{% endif %}">
        <div class="event-photo">
          {% if event.image %}
          <img src="{{ event.image | relative_url }}" title="{{ event.title }}" alt="{{ event.title }}">
          {% endif %}
        </div>

        <div class="event-info">
          {% if event.date %}
          <p class="event-date">{{ event.date | date: "%Y.%m.%d" }}</p>
          {% endif %}

          {% if event.event_url %}
          <a href="{{ event.event_url }}" target="_blank" class="event-title">{{ event.title }}</a>
          {% else %}
          <p class="event-title">{{ event.title }}</p>
          {% endif %}

          {% if event.time %}
          <div class="event-time">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <p>{{ event.time }}</p>
          </div>
          {% endif %}

          {% if event.location %}
          <div class="event-location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>{{ event.location }}</p>
          </div>
          {% endif %}

          {% if event.content != "" %}
          <div class="event-desc">{{ event.content }}</div>
          {% endif %}
        </div>

        {% if event.ended == false and event.need_apply and event.event_url %}
        <a href="{{ event.event_url }}" target="_blank" class="button-apply active">{{ site.data.i18n.helper.apply_now }}</a>
        {% elsif event.ended %}
        <div class="button-apply">{{ site.data.i18n.helper.ended_events }}</div>
        {% else %}
        <div class="button-apply">{{ site.data.i18n.helper.apply_none }}</div>
        {% endif %}
      </div>
      {% endfor %}
    {% else %}
      <span class="event-empty">{{ site.data.i18n.helper.empty_events }}</span>
    {% endif %}
  </div>

  {% if ended_events.size > 0 %}
  <button class="button-more events-more" data-action="click->toggle#toggle">{{ site.data.i18n.helper.order_events }}</button>
  {% endif %}
</section>
