<section id="subscription">
  <h3 class="section-title">{{ site.data.i18n.section.subscription }}</h3>
  {% include icon_ruby.svg %}

  <div class="subscription input-group">
    <form action="//rubyconf.us14.list-manage.com/subscribe/post?u=f8697172394cf1829922f9d1e&amp;id=81dd266430" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <input class="required form-control" placeholder="{{ site.data.i18n.helper.placeholder }}" name="EMAIL" type="email" required="required">
      <span class="input-group-btn">
        <button class="btn" type="submit" name="subscribe">{{ site.data.i18n.helper.subscription }}</button>
      </span>
    </form>
  </div>
</section>
