#landing data-turbolinks-permanent=true
  = render 'shared/nav'
  = render 'cover'

  .main
    .container-fluid
      = render 'blogs'
      = render 'events'
      = render 'campaigns'
      = render 'communities'
      = render 'subscription'

  = render 'shared/footer'
