#events

  .events-list
    @extend .flexbox
    justify-content: center

    .event-card
      position: relative
      width: 100%
      background: #fff
      box-shadow: 0 2px 4px 0 rgba($deep-grey, 0.5)
      margin-top: 30px

      @media screen and (min-width: $screen-sm)
        margin: 30px 10px 0
        width: calc(50% - 20px)

      @media screen and (min-width: $screen-md)
        width: calc(100%/3 - 20px)

      .event-photo
        width: 100%

      .event-info
        padding: 0 20px 90px

        .event-date
          color: #fff
          font-size: 14px
          font-weight: 300
          text-align: center
          line-height: 27px
          letter-spacing: 1px

          +size(120px,27px)
          border-radius: 100px
          background-color: $red
          box-shadow: 0 2px 4px 0 rgba($deep-grey, 0.5)
          +transform(translateY(-50%))
          margin: 0 auto

        .event-title
          color: $deep-grey
          font-size: 16px
          font-weight: 500
          
          display: block
          margin: 15px 0 20px

          +transition(color, 0.3s)

          &:hover
            color: $red

        .event-location
          font-size: 15px
          color: $warm-grey
          padding: 5px 0 20px

          i, p
            display: inline
            padding-right: 5px

        .event-desc
          font-size: 14px
          line-height: 1.6
          color: $dark-grey

        .button-apply
          @extend .button-more
          position: absolute
          +transform(translateX(-50%))
          left: 50%
          bottom: 30px

          color: $red
          border: solid 1px $red

          &:hover
            color: #fff
            background: $red
            border-color: $red