#news
  padding: 0

  .news-text
    color: $deep-grey
    font-size: 18px
    font-weight: 500

  .news-date
    color: #fff
    font-size: 14px
    text-align: center
    line-height: 1.3

  .news-card
    background-color: #fff
    box-shadow: 0 2px 4px 0 rgba($deep-grey,0.50)
    padding: 60px 20px
    @extend .flexbox

    @media screen and (min-width: $screen-sm)
      padding: 80px 20px

    .news-list
      width: 100%

      @media screen and (min-width: $screen-sm)
        padding: 30px 10% 0

      .news
        @extend .flexbox
        align-items: center
        justify-content: flex-start
      
        + .news
          border-top: solid 1px $light-grey
          padding-top: 30px
          margin-top: 30px

        &.more
          display: none

        .news-title
          @extend .news-text
          padding: 10px 5px 0
          margin: 0
          cursor: pointer
          +transition(color, 0.3s)

          @media screen and (min-width: $screen-sm)
            width: calc(100% - 65px)
            padding: 10px 20px

        .news-date
          @extend .news-date
          border-radius: 4px
          background-color: $warm-grey
          width: 100%
          padding: 7px
          margin: 0

          +transition(background-color, 0.3s)

          @media screen and (min-width: $screen-sm)
            +size(65px, 65px)
            word-spacing: 9999px

        &:hover
          .news-date
            background-color: $red
          .news-title
            color: $red

        .news-modal
          z-index: 999
          display: none
          position: fixed
          +size(100%,100%)
          left: 0
          top: 0
          background: rgba(0,0,0,.8)
          overflow: auto

          .modal-sandbox
            position: fixed
            +size(100%,100%)
            top: 0
            left: 0
            background: transparent

          .modal-box
            position: relative
            background: #fff
            box-shadow: 0 2px 4px 0 rgba($deep-grey,0.50)
            width: 80%
            max-width: 1020px
            margin: 100px auto

            .modal-close
              z-index: 99
              $size: 30px
              height: $size
              width: $size
              position: absolute
              right: 0
              margin: 15px
              box-sizing: border-box
              line-height: $size
              cursor: pointer
              +transform(translateY(50%))

              &:before, &:after
                content: ''
                position: absolute
                top: 0
                $width: 30px
                $height: 2px
                transform: rotate(-45deg)
                height: $height
                width: $width
                background-color: $warm-grey
                transition: all 0.2s ease-out

              &:after
                transform: rotate(45deg)

              &:hover
                &:before, &:after
                  transform: rotate(0deg)

            .cover-image
              position: relative
              width: 100%
              height: 180px
              overflow: hidden

              @media screen and (min-width: $screen-sm)
                height: 360px

              @media screen and (min-width: $screen-md)
                height: 480px

              img
                position: absolute
                top: 50%
                +transform(translateY(-50%))
                width: 100%

            .content
              padding: 20px

              .content-date
                color: $warm-grey

              svg
                display: block
                margin: 20px auto 30px

              img
                display: block
                width: 80%
                margin: 30px auto

              h1
                font-size: 24px

              h2
                font-size: 20px
                margin: 30px 0 20px

              h3
                font-size: 18px
                margin: 30px 0 20px

              p
                font-size: 16px
                line-height: 24px

              blockquote
                color: $dark-grey
                font-style: italic

              @media screen and (min-width: $screen-sm)
                padding: 40px 60px

                h1
                  font-size: 28px
              
                h2
                  font-size: 24px

                h3
                  font-size: 20px